go 1.21.6

use (
	./advanced_functions
	./buffered-channels
	./channel-ranges
	./channel-tokens
	./channels
	./channels-default-select
	./channels-select
	./closing-channels
	./concurrency
	./errors
	./maps
	./maps_count_instances
	./maps_mutations
	./maps_nested
	./null-pointers
	./pointers
	./slices
	./type-assertions
)
