go 1.21.6

use (
	./advanced_functions
	./channels
	./concurrency
	./errors
	./maps
	./maps_count_instances
	./maps_mutations
	./maps_nested
	./null-pointers
	./pointers
	./slices
	./type-assertions
)
